# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.iml

# Test binary, built with `go test -c`
*.test
secret.yml

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IntelliJ
.idea/

# Generated documentation
/doc/output

.config/

tool/
dist/

# asdf
.tool-versions

# Signing certificates on GHA
nais.key
nais.crt
