# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.iml

# Test binary, built with `go test -c`
*.test
secret.yml

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Junit test reports
report.xml

# IntelliJ
.idea/

# Generated documentation
/doc/output

.config/

nais
dist/

# Signing certificates on GHA
nais.key
nais.crt

.direnv
result
cli
